.cont-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
  height: 80px;
}

img {
  height: 50px;
  width: 50px;
  background-color: rgb(97, 15, 197);
  border-radius: 50px;
}

img:hover {
  height: 55px;
  width: 55px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
