<div class="container">
  <div class="logo">
    <span class="lg-color">MY.</span>
    COMICS
  </div>

  <nav>
    <ul class="nav-links">
      <li>
        <a href="https://developer.marvel.com/">
          Marvel
        </a>
      </li>
      <li>
        <a href="#">
          Favorites
        </a>
      </li>
      <li>
        <a href="#">
          About
        </a>
      </li>
    </ul>
  </nav>

  <a class="cta" href="https://github.com/asafekauffmann/Project-test">
    <button>Github</button>
  </a>
</div>

<app-first></app-first>
<router-outlet></router-outlet>
<app-footer></app-footer>
