<div class="card">
  <div
    class="card-image"
    [ngStyle]="{
      'background-image':
        'url(' +
        character.thumbnail.path +
        '.' +
        character.thumbnail.extension +
        ')'
    }"
  ></div>

  <div class="card-content">
    <div class="card-header">
      <h1 class="title">
        {{ character.name }}
      </h1>
      <p class="title-id">
        Id. {{ character.id }}
      </p>
    </div>

    <div class="card-body">
      <p class="subtitle">
        {{ character.description }}
      </p>

      <p class="subtitle-mod">
        Modified: {{ character.modified }}
      </p>

      <div>

        <div class="checkbox">
          <input type="checkbox" id="favorite" name="favorite">
          <label for="favorite">
            Add Favorite
          </label>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <a href="/characters/{{ character.id }}">
      <button class="btn-details">
        MORE DETAILS
      </button>
    </a>
    </div>
  </div>
</div>
