<div class="card">
  <div
    class="card-image"
    [ngStyle]="{
      'background-image':
        'url(' +
        character.thumbnail.path +
        '.' +
        character.thumbnail.extension +
        ')'
    }"
  ></div>

  <div class="card-content">
    <div class="card-header">
      <h1 class="title">{{ character.name }}</h1>
    </div>

    <div class="card-body">
      <p class="subtitle">
        {{ character.description }}
      </p>

      <div>
        <a class="link" href="{{ character.urls[0].url }}"
          ><p class="read-more">Read more</p></a
        >
      </div>
    </div>

    <div class="card-footer">
      <button class="btn-favorites">ADD TO FAVORITES LIST</button>
    </div>
  </div>
</div>
