.container {
  height: 660px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
}

.image {
  height: 100%;
  width: 100%;
  background-size: auto;
  opacity: 0.1;
}

.cont-text {
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
}

h1 {
  font-size: 43px;
  text-align: center;
}

.cont-text1 {
  position: absolute;
  display: flex;
  color: rgba(0,135,169,1);
  top: 450px;
  align-items: center;
}

h4 {
  font-size: 25px;
  text-align: center;
}

.cont-text2 {
  position: absolute;
  display: flex;
  bottom: 40px;
  color: white;
}

p {
  font-size: 16px;
}
